body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  font-family: 'Raleway', sans-serif;
  background-color: lightgray;
  width: 100vw;
  height: 100vh;
  margin-left: 15em;
}

.container {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;

  background-color: white;
  width: 70%;
  margin: auto; 
  border: 1px solid lightgray;


}

img {
  align-items: left;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: static;
  float: left;
  padding: 10px;
  margin: 20px;
}


.info {
  font-weight: bold;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.7em;
  padding-left: 1.3em;
  align-content: center;
  align-items: center;
  justify-content: center;

}

.name {
  color: black;
  font-weight: semi-bold 600;
  font-family: 'Raleway', sans-serif;
}


.searchName {
  font-family: 'Raleway', sans-serif;
  align-items:left;
  justify-content: left;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.searchName input{
  border: none;
  background:white;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.searchName input:focus{
  outline: none;
}

.searchTag {
  padding-bottom: 10px;
  align-items:left;
  justify-content: left;
  height: 30px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}

.searchTag input{
  border: none;
  background:white;
  height: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;

}

.searchTag input:focus{
  outline: none;
}

.testColumn {
  display: flex;
  padding-left: 20px;
  padding-top: 2px;
  justify-content: center;
  align-items: left;
  font-family: 'Raleway', sans-serif;
  width: auto;
}

.tagAdder {
  padding-left: 10px;
  margin-left: 140px;
  margin-top: 10px;
  padding-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  background:white;
  width: fit-content;
}

.tagAdder input{
  padding-left: 15px;
  padding-bottom: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  background:white;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.tagAdder input:focus{
  outline: none;
}

.tags {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  width: fit-content;
  background-color: lightgrey;
  border-radius: 4px;
  margin-right: auto;
  margin-left: 210px;
  text-align: center;
  margin-top: 10px;
}

